# vim: filetype=ruby :

require 'io/console'
require 'yaml'

shared_config = YAML.load_file("#{File.dirname(__FILE__)}/shared_config.yml")

Vagrant.configure("2") do |config|
  config.vm.box = "dummy"

  config.vm.provider :aws do |aws, override|
    aws.access_key_id = shared_config['access_key_id']
    aws.secret_access_key = shared_config['secret_access_key']
    aws.keypair_name = "KEYPAIR NAME"

    aws.security_groups = "<YOUR_SECURITYGRUOP_ID>"

    aws.ami = "<YOUR_LINUX_AMI>"

    aws.instance_type = 'c3.xlarge'
    aws.region = 'ap-northeast-1'
    aws.block_device_mapping = [{ 'DeviceName' => '/dev/sda1', 'Ebs.VolumeSize' => 10 }]

    override.vm.synced_folder '.', '/vagrant', disabled: true

    override.ssh.username = 'admin'
    override.ssh.private_key_path = "#{File.dirname(__FILE__)}/ssh/dev.pem"
  end
end
